@import url('https://fonts.googleapis.com/css?family=Exo+2|Play|Ubuntu');

head {
    color: lightblue;
    position: absolute;
    left: 400px;
    top: 10px;
    margin-top: 10px;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    
}
a {
    color: #7FCADA;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: -50px;
    padding-left: 150px;
    font-weight: bold;
    
}

body {
    position: absolute;
    left: 200px;
    background-color: #2a2a2a;
    font-family: 'Ubuntu', sans-serif;
    width:100%;margin:auto;min-width:1080px;max-width:1080px; 
    height: 100%;   
}
form{
     color: white;
     font-size: 100%;
     font-weight: bold;
     line-height: 4em;
     margin-top: 450px;
     margin-left: 150px;
     margin-right: 800px;
     position: relative;
     
 }
h1 {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 250%;
    font-weight: bold;
    line-height: 1em;
    margin-top: 200px;
    clear: none;
    display: block;
    margin-left: 150px;
    margin-right:150px;
    z-index:1;
    float: left;
    
}
h2 {
    color: #b3ffb3;
    float: left;
    margin-left: 150px;
    margin-right: 150px;
    top: 500px;
    font-family: 'Play', sans-serif;
    font-size: 200%;
    font-weight: bold;
    line-height: 2em;
    clear: none;
    display: block;
    margin-bottom: -50px;
    margin-top: 100px;
    
}
p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 120%;
    font-style: normal;
    font-weight: normal;
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: -150px;
    line-height: 2em;
    
}
#Nav{
    font-size: 150%;
    margin-top: 150px;
    margin-left: -50px;
    position: relative;

}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
}
a:hover { 
    color: #c4e4ed;
}
#IndexImage{
    bottom: 100px; 
    margin-bottom: 200px;
    position: relative;
    top: 200px;
    align-self: center;
    vertical-align: middle;
    left: 0px;
}
#UnityImage{
    float: left;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 50px;
}
#HololensImage{
    position: relative;
    margin-top: 550px;
    margin-right: 200px;
    left: 10px;
    margin-left: -50px;
}
#ViveImage{
    float: right;
    margin-top: -150px;
    margin-right: -350px;
    margin-left: -300px;
}
#DrexelLogo{
    float: right;
    margin-top: 100px;
    margin-right: 100px;
    }
#HeaderBackground{
    position: absolute; 
    top: -100px;
    z-index: -1;
    left: -360px;
    width: 100%;
    opacity: 0.25;
    }
#DUVRLogo{
    position: relative;
    left: -350px;
    top: 25px;
}
#YouTubeVid{
    position: relative; 
    top: 300px;
    margin-left: 200px;
}
#Map{
    position: relative; 
    margin-top: 500px;
    margin-left: 450px;
}
#MeetingsImages{
    margin-top: 200px;
    margin-left: 250px;
    margin-right: -200px;
    margin-bottom: -100px;
    position: relative;

}
#VideoText{
    position: relative;
    top: 250px;
}
#FooterText{
        font-family: 'Play', sans-serif;
        word-wrap: break-word;
        width: 25%;
        float: left;
        margin-left: -100px;

}
#SocialMedia {
        margin-left: 100px;
        float: left;
        margin-top: 100px;
    }
footer {
    font-size: 75%;
    float: left;
    margin-top: 500px;
    margin-left: -200px;
    width: 176%;
    height: 30%;
    background-color: #000000;
    
}